.vps-status-die {
    background-color: red;
    border-radius: 3px;
    font-size: 16px;
    width: 50px;
    justify-content: center;
    display: flex;
}

.vps-status-live {
    background-color: rgb(29, 186, 248);
    border-radius: 3px;
    font-size: 16px;
    width: 50px;
    justify-content: center;
    display: flex;
}

.btn-remove-vps {
    background-color: red;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
}

.refress-vps {
    margin-bottom: 5px;
    display: flex;
}