.white-label .ant-form-item-label > label {
    color: white !important;
    margin-bottom: 15px;
  }
  .white-form .ant-radio-wrapper {
    color: white !important;
  }

  .hide-cmt {
    display: flex;
  }